@include mobile {
  .in-cus {
    width: 100%;
    padding: 11px 26px;
    border-radius: 30px;
    font-size: 15px;
    outline: none !important;
    transition: 0.3s;
    margin-bottom: 20px;
  }
}
