@include mobile {
  .about {
    width: 100vw;
    min-width: -webkit-fill-available;
    padding: 10px 15px 60px 15px;
    margin: auto;
    &__card-container {
      margin-top: 20px;
    }
    &__basic {
      display: flex;
      flex-wrap: wrap;
      &__col {
        flex: 0 0 50%;
        max-width: 50%;
      }
      &__spc {
        padding-right: 10px;
        padding-bottom: 10px;
      }
    }
    &__seperator {
      margin: 70px auto 55px;
      max-width: 40%;
      opacity: .1;
    }
  }
}

@include tablet {
  .about {
    padding: 10px 15px 10px 15px;
  }
}
